<section class="hero is-warning block">
  <div class="hero-body">
    <p class="title">Capture Image using events</p>
  </div>
</section>

<div class="columns box">
  <div class="column">
    <div class="block">
      <h3>
        Event Emitter - this page will send the content of a CANVAS every 30ms
        using window.postMessage() and will receive back the same image with a
        minor transformation
      </h3>

      <article class="message is-info">
        <div class="message-header">
          <p>Warning</p>
        </div>
        <div class="message-body">
          <p>
            To run this example another instance of the application should be
            running at port 5000, the command below<br />
          </p>
          <div class="code-block">ng serve --port 5000</div>
        </div>
      </article>

      <iframe
        #screen1
        width="100%"
        height="300px"
        src="http://localhost:5000/events/emitter"
      ></iframe>
    </div>
  </div>
  <div class="column">
    <h3 class="block">Data received from Iframe</h3>
    <div class="block">
        <img width="640" height="480" [src]="getBase64Image()" />
    </div>
  </div>
</div>
